/* палитра цветов */
/* Основной цвет #757575 */
/* Вторичный цвет #212121 */
/* акцент #2196F3 */
/* Основной цвет фона #ffffff */

:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color :#2196F3;
    --White: #ffffff;
    --main-font-family: 'Roboto', sans-serif;
    }

body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: #ffffff;
        color: #757575;
}

.list {
        list-style: none;
}
.link {
        text-decoration: none;
}

/* ====================================NAV==================================== */
.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;
}
.web {
        color: var(--accent-color);
}
.site-nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
}
.site-nav:hover,
.site-nav:focus {
        color: var(--accent-color) ;
}
.contact-nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
}
.contact-nav:hover,
.contact-nav:focus {
        color: var(--accent-color);
}
/* ====================================/NAV==================================== */

/* ====================================HERO==================================== */
.hero {
        background-color: #2F303A;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--White);
}
/* ====================================/HERO==================================== */

/* ====================================BUTTONS==================================== */
.hero-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        background-color: var(--accent-color);
        color: var(--White);
}

.hero-button:hover,
.hero-button:focus {
        background-color: #188CE8;
        color: var(--White);
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--title-text-color);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--White);
}
/* ====================================/BUTTONS==================================== */

/* ====================================SECTIONS==================================== */
.section .section-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-text-color);
}
.section .section-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.work-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}
.team-fon {
    background-color: #F5F4FA;
}
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}
.team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
}
.team-text {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}
/* ====================================/SECTIONS==================================== */

/* ====================================FOOTER==================================== */
.footer {
    background-color: #2F303A;
}
.footer .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--White) ;
}
.footer-web {
        color: var(--accent-color);
}

.footer-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--White);
}
.footer-contact {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}
/* ====================================/FOOTER==================================== */

/* ====================================PORTFOLIO==================================== */
.portfolio-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--title-text-color);
}
.portfolio-text {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--main-text-color);
}
/* ====================================/PORTFOLIO==================================== */